In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing the data from the folder
data = pd.read_csv(r'C:\Users\HARISH\Desktop\Project -MSD\dupdataset.csv')

In [3]:
data.shape

(1282718, 9)

In [4]:
data.loc[data['userevent']=='pageView']

,Unnamed: 0,Date,uuid,userevent,price,product_id,people,category,mainproduct
0,0,2019-01-11,00001bc3-56ef-49d4-8fce-f8114116df40,pageView,199,OG723AC19LNODFMX,men,bags,backpacks
1,1,2019-01-11,00001bc3-56ef-49d4-8fce-f8114116df40,pageView,249,SA343AC52YEDDFMX,women,bags,others
2,2,2019-01-11,00001bc3-56ef-49d4-8fce-f8114116df40,pageView,1599,GU531AC85KVQDFMX,women,bags,satchel
3,3,2019-01-11,00001bc3-56ef-49d4-8fce-f8114116df40,pageView,799,DO528AB41ZBUDFMX,men,bottomwear,pants
4,4,2019-01-11,00001bc3-56ef-49d4-8fce-f8114116df40,pageView,899,HE249AC65WIODFMX,men,bags,backpacks
...,...,...,...,...,...,...,...,...,...
1282713,1314667,2019-01-04,ffff75f8-08a7-47b3-a472-001dfcdb1a2b,pageView,899,RE924AT97EHYDFMX,men,outerwear,jackets
1282714,1314668,2019-05-04,ffff8823-2145-40b8-a943-ccd5909a5c46,pageView,2499,AD096SH90RUFDFMX,men,shoes,sneakers
1282715,1314669,2019-03-05,ffff9fc9-9634-4c85-99b7-fba1901d5b29,pageView,299,KA712AT63QEYDFMX,men,activewear,tshirts
1282716,1314670,2019-03-05,ffff9fc9-9634-4c85-99b7-fba1901d5b29,pageView,299,KA712AT42QFTDFMX,men,activewear,tshirts
1282717,1314671,2019-01-29,ffffdc8a-5208-4733-9cce-1d764a92550b,pageView,1699,TI778SH72SKHDFMX,women,shoes,boots

In [5]:
data.loc[data['mainproduct']=='NaN']

Empty DataFrame
Columns: [Unnamed: 0, Date, uuid, userevent, price, product_id, people, category, mainproduct]
Index: []

In [6]:
data.drop(data.loc[data['userevent']=='pageView'].index, inplace=True)

In [7]:
data.loc[data['userevent']=='pageView']

Empty DataFrame
Columns: [Unnamed: 0, Date, uuid, userevent, price, product_id, people, category, mainproduct]
Index: []

In [8]:
data.shape

(100618, 9)

In [9]:
#Removing the rows that has -1
new_data = data.drop(['Unnamed: 0'], axis = 1)

In [10]:
new_data.head()

,Date,uuid,userevent,price,product_id,people,category,mainproduct
15,2019-03-13,0001908b-a639-41f7-86ff-b200d07a5120,addToCart,416,DO528AB46RSBDFMX,men,bottomwear,pants
16,2019-05-02,0001908b-a639-41f7-86ff-b200d07a5120,addToCart,499,LE063AB25EHUDFMX,men,bottomwear,jeans
17,2019-03-13,0001908b-a639-41f7-86ff-b200d07a5120,addToCart,333,OG723AB10RAFDFMX,men,bottomwear,jeans
42,2019-05-28,0003ab20-cfa0-4df0-9035-d10ea0348367,addToCart,599,FI004SH71OTCDFMX,women,shoes,sneakers
88,2019-05-25,00067485-65e0-478e-9839-b85d025a10f1,addToCart,299,DO528AB62OPPDFMX,women,bottomwear,pants

In [11]:
new_data.shape

(100618, 8)

In [12]:
df_out = new_data.groupby('uuid')['category'].apply(set)

In [13]:
df_out.to_frame()

                                                   category
uuid
0001908b-a639-41f7-86ff-b200d07a5120           {bottomwear}
0003ab20-cfa0-4df0-9035-d10ea0348367                {shoes}
00067485-65e0-478e-9839-b85d025a10f1  {bottomwear, topwear}
0009e0c6-162e-42f8-8a78-70c648cc8911           {bottomwear}
000c5691-ba0d-4008-8f15-b1b303397565                {shoes}
...                                                     ...
fffc5f57-0c18-4bbf-9ee3-ce8f66de42b3              {topwear}
fffd64f4-419d-4827-9aa0-752da076f1bc              {topwear}
fffe3bc5-c9f3-4f43-a852-987f49125f82                 {bags}
fffef68a-412d-41a6-8219-08a0df039d49   {outerwear, topwear}
ffff0020-db7e-428b-bcd5-ae6732119b6a                {shoes}

[37547 rows x 1 columns]

In [16]:
#df_out.to_csv(r'C:\Users\HARISH\Desktop\Project -MSD\newcatdataset.csv')

In [14]:
df_prod = new_data.groupby('uuid')['mainproduct'].apply(set)

In [15]:
df_prod.to_frame()

                                                  mainproduct
uuid
0001908b-a639-41f7-86ff-b200d07a5120           {pants, jeans}
0003ab20-cfa0-4df0-9035-d10ea0348367               {sneakers}
00067485-65e0-478e-9839-b85d025a10f1         {blouses, pants}
0009e0c6-162e-42f8-8a78-70c648cc8911                  {jeans}
000c5691-ba0d-4008-8f15-b1b303397565               {sneakers}
...                                                       ...
fffc5f57-0c18-4bbf-9ee3-ce8f66de42b3                {tshirts}
fffd64f4-419d-4827-9aa0-752da076f1bc                {tshirts}
fffe3bc5-c9f3-4f43-a852-987f49125f82                  {totes}
fffef68a-412d-41a6-8219-08a0df039d49  {denim_jacket, tshirts}
ffff0020-db7e-428b-bcd5-ae6732119b6a                {sandals}

[37547 rows x 1 columns]

In [16]:
df_prod.to_csv(r'C:\Users\HARISH\Desktop\Project -MSD\finalproddataset.csv')